body {
    background-image: url('../source/pic/LoginPageBGP.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.info-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    width: 850px;
    height: 500px;
    align-items: center;
    text-align: center;
    overflow-wrap: normal;
}

.info-header {
    align-items: center;
    text-align: center;
    text-size-adjust: auto;
    font-size: large;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    align-items: center;
    text-align: center;
}

    .login-container form {
        margin: 50px 0;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-container button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .login-container button:hover {
            background-color: #0056b3;
        }
